<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  
  <ul class="navbar-nav">
     
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/list" class="nav-link">List People</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/new" class="nav-link">Add New Person</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/source" class="nav-link">Source</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
  
  </ul>
    </nav>
  </header>